<div class="container" id="home-container">
  <div class="jumbotron text-center ">
    <h1 class="display-4">Blog</h1>
    <p class="lead">シンプルなブログ</p>
    <hr class="my-4">
    <%= link_to "新規登録", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>